.SelectTimeTable {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  height: fit-content;
}
@media (max-width: 1365px) {
  .SelectTimeTable {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
  }
}
