.bookingoption {
  width: 60%;
  margin: auto;
  height: fit-content;
  margin-top: 80px;
  display: flex;
  //border: 1px solid red;
  flex-direction: column;
  align-items: center;
  .option-menu {
    margin-top: 40px;
    font-size: 35px;
    font-weight: 600;
  }
  .options {
    width: 60%;
    height: fit-content;
    margin-bottom: 30px;
    // border: 1px solid blue;
    .option1 {
      margin-top: 30px;
      cursor: pointer;
      .title {
        font-size: 28px;
        font-weight: 550;
      }
      .option-main {
        border: 1px solid rgb(210, 192, 192);
        border-radius: 35px;
        margin-top: 30px;
        padding: 5px;

        &:hover {
          background-color: rgb(245, 241, 241);
        }
        .card-title {
          margin: 20px 8px 0 10px;
          font-size: 25px;
        }
        .card-message {
          margin: 10px 8px 20px 10px;
          font-size: 18px;
          color: rgb(110, 102, 102);
        }
      }
    }
  }
}
@media (max-width: 1030px) {
  .bookingoption {
    width: 80%;
    margin: auto;
    height: fit-content;
    margin-top: 80px;
    display: flex;
    // border: 1px solid red;
    flex-direction: column;
    align-items: center;
    .option-menu {
      margin-top: 40px;
      font-size: 35px;
      font-weight: 600;
    }
    .options {
      width: 70%;
      height: fit-content;
      margin-bottom: 30px;
      // border: 1px solid blue;
      .option1 {
        margin-top: 30px;
        cursor: pointer;
        .title {
          font-size: 28px;
          font-weight: 550;
        }
        .option-main {
          border: 1px solid rgb(210, 192, 192);
          border-radius: 35px;
          margin-top: 30px;
          padding: 5px;
          &:hover {
            background-color: rgb(245, 241, 241);
          }
          .card-title {
            margin: 20px 8px 0 10px;
            font-size: 25px;
          }
          .card-message {
            margin: 10px 8px 20px 10px;
            color: rgb(110, 102, 102);
          }
        }
      }
    }
  }
}
// 750
@media (max-width: 750px) {
  .bookingoption {
    width: 95%;
    margin: auto;
    height: fit-content;
    margin-top: 80px;
    display: flex;
    // border: 1px solid red;
    flex-direction: column;
    align-items: center;
    .option-menu {
      margin-top: 40px;
      font-size: 35px;
      font-weight: 600;
    }
    .options {
      width: 90%;
      height: fit-content;
      margin-bottom: 30px;
      //border: 1px solid blue;
      .option1 {
        margin-top: 30px;
        cursor: pointer;
        .title {
          font-size: 28px;
          font-weight: 550;
        }
        .option-main {
          border: 1px solid rgb(210, 192, 192);
          border-radius: 35px;
          margin-top: 30px;
          padding: 5px;
          &:hover {
            background-color: rgb(245, 241, 241);
          }
          .card-title {
            margin: 20px 8px 0 10px;
            font-size: 25px;
          }
          .card-message {
            margin: 10px 8px 20px 10px;
            color: rgb(110, 102, 102);
          }
        }
      }
    }
  }
}
