.Guarantee {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  .title {
    font-size: 28px;
  }
  .p {
    margin-top: 18px;
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  .Guarantee {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    height: 400px;
    overflow-y: scroll;
    .title {
      font-size: 25px;
    }
    .p {
      margin-top: 18px;
      font-size: 15px;
    }
  }
}
