.menubar {
  display: none;
}
.navBar {
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  height: 100px;
  align-items: center;
  z-index: 1000;

  .logo {
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 26px;
  }
  .page {
    font-size: 23px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background-color: rgb(210, 198, 198);
      transition: width 0.3s ease-in-out;
    }
    &.active::after {
      width: 100%;
    }
  }
  .book {
    font-size: 23px;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: yellow;
    cursor: pointer;
    border-radius: 15px;
  }
}
.line {
  border: 1px solid rgb(210, 198, 198);
  width: 85%;
  margin: auto;
  margin-top: 15px;
}
@media (max-width: 1250px) {
  .menubar {
    display: none;
  }
  .navBar {
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    height: 100px;
    align-items: center;
    z-index: 1000;

    .logo {
      border: 1px solid black;
      padding: 10px 15px;
      font-size: 25px;
    }
    .page {
      font-size: 22px;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background-color: rgb(210, 198, 198);
        transition: width 0.3s ease-in-out;
      }
      &.active::after {
        width: 100%;
      }
    }
    .book {
      font-size: 22px;
      border: 1px solid black;
      padding: 10px 15px;
      background-color: yellow;
      cursor: pointer;
      border-radius: 15px;
    }
  }
  .line {
    border: 1px solid rgb(210, 198, 198);
    width: 85%;
    margin: auto;
    margin-top: 15px;
  }
}
@media (max-width: 1150px) {
  .menubar {
    position: fixed;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 30px;
  }
  .navBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    // margin-top: 30px;
    width: 50%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: -70%;
    box-shadow: 2px 0 5px rgba(255, 253, 253, 0.5);
    z-index: 1000;
    transition: 1s ease-in-out;
    background-color: black;
    .logo {
      font-size: 25px;
      margin-left: 30px;
      margin-top: 30px;
      color: white;
      border: 1px solid white;
    }
    .page {
      font-size: 22px;
      margin-top: 20px;
      margin-left: 30px;
      color: white;
    }
    .book {
      margin-top: 30px;
      margin-left: 30px;
    }
  }
  .navBar.openMenu {
    left: 0;
  }

  .line {
    display: none;
  }
}

// 700
@media (max-width: 700px) {
  .menubar {
    position: fixed;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 30px;
  }
  .navBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    // margin-top: 30px;
    width: 70%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: -70%;
    box-shadow: 2px 0 5px rgba(255, 253, 253, 0.5);
    z-index: 1000;
    transition: 1s ease-in-out;
    background-color: black;
    .logo {
      font-size: 22px;
      margin-left: 30px;
      margin-top: 30px;
      color: white;
      border: 1px solid white;
    }
    .page {
      font-size: 18px;
      margin-top: 20px;
      margin-left: 30px;
      color: white;
    }
    .book {
      margin-top: 30px;
      margin-left: 30px;
      font-size: 18px;
    }
  }
  .navBar.openMenu {
    left: 0;
  }

  .line {
    display: none;
  }
}
