.ModelDisplayStaff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;

  .model-display {
    width: 50%;
    margin: auto;
    height: fit-content;
    background-color: white;
    animation: fadeIn 0.3s ease-in-out;

    .top {
      display: flex;
      justify-content: space-between;

      div {
        font-size: 35px;
        margin-top: 15px;
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .line {
      border: 1px solid rgb(213, 202, 202);
    }

    .bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      gap: 30px;
      margin-top: 30px;
      margin-bottom: 80px;

      .staff-display {
        border: 1px solid rgb(213, 202, 202);
        width: 240px;
        height: 200px;
        margin-top: 30px;
        border-radius: 20px;

        .staff-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          margin: 20px auto 10px auto;
          background-color: #f0f0f0;
          border-radius: 50%;
          border: 1px solid black;

          svg {
            width: 50px;
            height: 50px;
          }
        }

        .name {
          font-size: 18px;
          font-weight: 550;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Responsive styling for screens smaller than 600px
@media (max-width: 600px) {
  .ModelDisplayStaff {
    .model-display {
      width: 90%; // More compact on mobile

      .bottom {
        .staff-display {
          width: 180px;
          height: 180px;

          .staff-icon {
            width: 70px;
            height: 70px;
            margin: 20px auto 10px auto;

            svg {
              width: 40px;
              height: 40px;
            }
          }

          .name {
            font-size: 16px;
            font-weight: 550;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
